body {
  
    background-size: contain;
    background-color: #2f3e46; 
    font-family: "Josefin Sans", sans-serif;
    color: #cad2c5;
    
  
  }
  
  a {
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
  }
  
  h1 {
    text-align: center;
    background-color: #52796f ;
    font-size: 80px;
    color: #cad2c5;
    box-shadow: #354f52 5px 8px;
    padding: 5px;
    margin: -1px 25px 25px;
  }
  
  h2 {
    color: #cad2c5;
    margin-top: 10px;
    size: 3rem;
   text-align: center;
   font-size: small;
   background-color: #354f52;
   box-shadow:#52796f 5px 8px;
   padding: 5px;
    margin: 0px 75px 25px;
  
  }
  
  h3, h4 {
    color: #cad2c5;
    margin-top: 30px;
    size: 3rem;
   text-align: center ;
   margin-bottom: -12px;
  }
  
  .main-nav ul {
    margin: 0;
    padding: 0;
    color: #84a98c ;
  }
  
  .main-nav li {
    display: inline-block;
    padding-right: 10px;
  }
  
  img {
    width: 400%;
    box-shadow: rgb(53, 79, 82) 6px 6px;
    margin-left: 150px;
  }
  
  p {
    margin-top: 120px;
  }